.w-100{
    width: 100%;
}

.flex-1{
    flex: 1;
}
.justify-end{
    justify-content: flex-end;

}
.bg-secondary{
    background-color: rgb(255, 217, 0);
}
.bg-primary{
    background-color: rgb(158, 235, 34);
    color: red;
}
.flex-colum-reverse{
    flex-direction: column-reverse;
}