/* file css chỉ xử lí text */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,700&display=swap');
.text-h-100{
    height: 100%;
}
.text-head-lg{
    font-size: 32px;
    font-family: "Open Sans";
}
.text-head-md{
    font-size: 24px;
    font-family: "Open Sans";
}
.text-head-sm{
    font-size: 18px;
    font-family: "Open Sans";
}
.text-body-lg{
    font-family: "Roboto";
    font-size: 18px;
}
.text-body-md{
    font-family: "Roboto";
    font-size: 14px;
}
.text-body-sm{
    font-family: "Roboto";
    font-size: 12px;
}

.text-bold{
    font-weight: bold;
}

.text-italic{
    font-style: italic;
}

*{
    font-family: 'Roboto';
    font-size: 14px;
   
}
.justify-space-betwewn{
    display: flex;
    justify-content: space-between;
}



